<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CookTogether</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/static/foodlist.js"></script>
<script src="/static/recipes.js"></script>
<style type="text/css">
    body{
        padding-top: 70px;
    }
    h1 {

        text-align: center;
    }
     .row {
        text-align:center;

    }

    .collaborator {
        text-align:left;
    }

    .col {
        text-align:center;
    }
</style>
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CookTogether</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href=" " target="_blank">Home</a></li>
                <li><a href=" " target="_blank">About</a></li>
                <li><a href=" " target="_blank">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>Cook Together</h1>
        <!-- <p><a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Get started today</a></p> -->

    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Group Name: #1 F00DIEZ</h2>
        </div>


        <div class="collaborator">
        <div class="col-md-12">
            <h2>Collaborators</h2>
            <img src="/static/colab_images.png">
         </div>


    </div>

     <div class="col">
        <div class="col-md-4">
            <h2> Collaborator </h2>
            <input type="text" id="username_input" name="username" class="inputbox" size="30" />
            <ul class="list-group" id='userlist'>

        </ul>
        </div>

         <div class="col">
        <div class="col-md-4">
            <h2> Ingredient </h2>
            <input type="text" id="ingr_input" name="username" class="inputbox" size="30" />
            <ul class="list-group" id='ingredientlist'>
        </ul>
        </div>

        <div class="col">
        <div class="col-md-4">
            <h2> Amount </h2>
            <input type="text" id="amount_input" name="username" class="inputbox" size="30" />
            <input type="submit" value="submit!">
            <ul class="list-group" id= 'amountlist'>
        </ul>

        </div>



   <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-info btn-lg" id="generate">Generate Recipes <span class="glyphicon glyphicon-apple"></span></button>
        </div>
    </div>
    <hr>

</div>
<div id = "recipes"> </div>
</body>
</html>
