<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CookTogether</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="social-buttons.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/static/foodlist.js"></script>
<style type="text/css">
    body{
        padding-top: 70px;
    }
    h1 {

        text-align: center;
    }
     .row {
        text-align:center;

    }

    .collaborator {
        text-align:left;
    }

    .col {
        text-align:center;
    }
</style>
</head>
<body>


<div class="container">
    <div class="jumbotron">
        <h1>Cook Together</h1>

    </div>

<!--
<button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Connect with Facebook</button> -->

  <a class="btn btn-block btn-social btn-facebook">
    <i class="fa fa-facebook"></i> Sign in with Facebook
  </a>






    </div>


    <hr>

</div>
</body>
</html>
