<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CookTogether</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="social-buttons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="user-page-style.css" />
</head>
<body>
<div class="container">
	<div class="container">
    <div class="jumbotron">
        <h1> Welcome to Cook Together! </h1>
    </div>
</div>
	  <h2>To complete your profile, tell us what kind of food you eat:</h2><br>
  <form role="form">
      <label class ="checkbox-inline"><input type="checkbox" value="">Low-Carb
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">High-Protein
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Low-Fat
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Balanced
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">High-Fiber
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Low-Sodium
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">No-sugar
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Sugar-conscious
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Vegetarian
      </label><br>
      <label class ="checkbox-inline"><input type="checkbox" value="">Vegan
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Low-Carb
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Paleo
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Gluten-free
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Wheat-free
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Dairy
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Low-Carb
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Egg-Free
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Soy-Free
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Fish-Free
      </label><br>
      <label class ="checkbox-inline"><input type="checkbox" value="">Shellfish-Free
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">No Tree Nuts
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Low potassium
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Alcohol-free
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">No oil added
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Kidney friendly
      </label>
      <label class ="checkbox-inline"><input type="checkbox" value="">Peanuts
      </label><br><br>
  <button type="submit" class="btn btn-default">That's all, let me start!</button>
    </form>
   </div>
</body>
</html>