<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CookTogether</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link href="social-buttons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="user-page-style.css" />
</head>
<body>
<div class="container">
	<div class="container">
    <div class="jumbotron">
        <h1> Welcome to Cook Together! </h1>
    </div>
</div>
	  <h2>To complete your profile, tell us what kind of food you eat:</h2><br>
        <div class="container">
    <form role="form">
      <div class = "row">
         <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">Low-Carb
            </label> <div>
            <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">High-Protein
            </label></div>
            <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">Low-Fat
            </label></div>
            <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">Balanced
            </label></div>
          </div>
          <div class = "row">
          <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">High-Fiber
            </label></div>
            <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">Low-Sodium
            </label></div>
            <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">No-sugar
            </label></div>
            <div class="col-6-md">
            <label class ="checkbox"><input type="checkbox" value="">Sugar-conscious
            </label></div>
          </div>
        <!--
          <div class="col-6">
            <label class ="checkbox"><input type="checkbox" value="">Vegetarian
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Vegan
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Low-Carb
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Paleo
            </label>
          </div>
          <div class="col-6">
            <label class ="checkbox"><input type="checkbox" value="">Gluten-free
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Wheat-free
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Dairy
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Egg-Free
            </label>
          </div>
          <div class="col-6">
            <label class ="checkbox"><input type="checkbox" value="">Soy-Free
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Fish-Free
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Shellfish-Free
            </label>
            <label class ="checkbox"><input type="checkbox" value="">No Tree Nuts
            </label>
          </div>
          <div class="col-6">
            <label class ="checkbox"><input type="checkbox" value="">Low potassium
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Alcohol-free
            </label>
            <label class ="checkbox"><input type="checkbox" value="">No oil added
            </label>
            <label class ="checkbox"><input type="checkbox" value="">Peanuts
            </label>
          </div>
        </div>
  <br><br>
      <button type="submit" class="btn btn-default">That's all, let me start!</button>
    -->
       </form>
       </div>
   </div>
</body>
</html>