    body{
        padding-top: 70px;
        background-color: #33CC99;
    }
    h1, h2 {
        text-align: center;
    }

    .checkbox-inline {
        font-size: 18px;
    }

     .row {
        text-align:center;

    }

    .collaborator {
        text-align:left;
    }

    .col {
        text-align:center;
    }


    .jumbotron {
        background-color: #FFFFFF;
    }

    .myNavbar {
        background-color: #FFFFFF;
    }

    .btn.btn-default {
        color: #333333;
        background-color: #8a8a8a;
        background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
        border-color: #CCCCCC #CCCCCC #CCCCCC;
    }
    .btn.btn-default:hover {
        color: #333333;
        background-color: #E0E0E0;
        background-image: linear-gradient(to bottom, #E0E0E0, #E0E0E0);
        border-color: #CCCCCC #CCCCCC #CCCCCC;
    }